/*
// CSS Reset
//=====================================================
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	line-height: 1;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	quotes: none;
	border-collapse: collapse;
	border-spacing: 0;
}
   
*:before, *:after {
	content: '';
	content: none;
}
						  
						  
/*
// HTML5
//=====================================================
*/

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}